body {
    background-color: rgb(41, 42, 43);
}

#main-container {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(134, 128, 128);
    padding: 10px;
    margin: 0 auto;
}

#display {
    width: 275px;
    height: 25%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(219, 219, 221);
    padding: 10px;
}

#display-main {
    height: 55%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    color: rgb(5, 5, 5);
    font-size: 40px;
}

#display-sub {
    height: 35%;
    display: flex;
    justify-content: flex-end;
    color: rgb(5, 5, 5);
    font-size: 30px;
}

#main-btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 275px;
    height: 65%;
    background-color: rgb(44, 32, 212);
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto 0 auto;
}

#basic-operations-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60px;
    height: 100%;
    margin-left: auto;
}

button {
    width: 60px;
    height: 60px;
    font-size: large;
    font-weight: bold;
}

/* .basic-math-operations {
    margin-left: auto;
} */

#numbers-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 200px;
    height: 100%;
    margin: auto;
    padding-top: 5px;
}

#additional-btns {
    display: flex;
    justify-content: space-evenly;
    width: 210px;
}

